body{
  margin: 0%;
  background-color: #F5B8BF;
  text-align: center;
  font-family: "oswald";
  color: #46151B;
}


h1{
  font-size: 60px;
}

ul{
  list-style-type: none;
}
.container{
  font-size: medium;
  
}



/*this is the code for the navbar*/
.topnav a {
  float: right;
 color: #EA9DAF;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
 background-color: #46151B;
 border-width: 30px;
  font-family: 'Oswald';
  font-style: normal;

}

.topnav a:hover {
  background-color: #6c2931;
color: #EA9DAF;
}

.topnav a.active {
  background-color: #8b1a42;
color: #EA9DAF;
}